a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: #faf9fa;
  color: #19171c;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: theme('colors.primary.500');
  text-decoration: none;
}

a,
a:hover {
  color: theme('colors.primary.500');
}

a:hover {
  text-decoration: underline;
  color: theme('colors.primary.600');
}

li {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

button {
  text-align: inherit;
  background: 0 0;
  border-radius: 0;
  color: inherit;
  font: inherit;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h4,
h5,
h6,
html,
p {
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='text']::-ms-clear {
  display: none;
}

hr {
  border: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6,
p {
  font-size: 1.2rem;
}

#cellar-root,
.cellar-main {
  height: 100vh;
  background: #faf9fa;
}
